---
title: Tentang Cipta Media Ekspresi
layout: info
---

	<div class="container" style="margin-top: 30px;">
        
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Tentang Cipta Media Ekspresi</h1>
            </div>
        </div>
        
        <div class="row m-b-lg">
            <div class="col-md-12">
                <h2>Ekspresi, elemen terpenting hak dalam mengutarakan pendapat, adalah salah satu pilar untuk mencapai keadilan sosial bagi seluruh rakyat.</h2>
                <br>
                <h3>Hibah ini bertujuan memberi rasa aman bagi seniwati, seniman, jurnalis dan pejuang dalam bidang kebudayaan agar mereka dapat bekerja dengan tenang memberi cahaya pada akar-akar penyebab ketidak-adilan.</h3>
            </div>
        </div>
        
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <a class="btn btn-lg btn-danger btn-rounded btn-outline wow bounceIn" href="#">Pendaftaran Hibah</a>
            </div>
        </div>
    
    </div>
