---
title: Peluncuran Cipta Media Seluler
layout: info
---

<div class="container" style="margin-top: 70px;">
	
    <div class="row">
        <div class="col-lg-12">
            <p><small><a href="/index.html#one">Beranda</a> > <a href="proses.html">Proses Cipta Media Seluler</a> > Peluncuran</small></p>
        </div>
    </div>
    
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Peluncuran Cipta Media Seluler</h1>
        </div>
    </div>
	
    <div class="row m-b-lg">
      <div class="col-md-12">
      
            <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#peluncuran">Peluncuran</a></li>
            <li><a data-toggle="tab" href="#form">Form Pendaftaran</a></li>
            </ul>

            <div class="tab-content">
            	<div id="peluncuran" class="tab-pane fade in active article">
            		<br/>
                    <h2>Ford Foundation Meluncurkan Cipta Media Seluler: Hibah Terbuka Untuk Perubahan Sosial Yang Lebih Adil</h2>
                    <p>Jakarta, 20 Januari 2014</p>
                    <p>Ford Foundation bersama tiga organisasi pendukungnya; Wikimedia Indonesia, ICT Watch dan Aliansi Jurnalis Independen (AJI) pada hari Senin, 20 Januari 2014 tepat pada pukul 13:00 WIB meluncurkan “Cipta Media Seluler” secara daring (online) via situs ciptamedia.org. Hibah terbuka untuk publik ini diharapkan mampu merangsang upaya-upaya perubahan sosial yang lebih adil menggunakan teknologi seluler. Tiga kategori <a data-toggle="tab" href="#form"><b><u>permintaan hibah</u></b></a> yang bisa diminta adalah (1) Produksi dan penyampaian konten; (2) Rekayasa piranti lunak; (3) Rekayasa perangkat keras.</p>
                    <p>Upaya seluler menjadi fokus untuk pemberian hibah ditahun 2014 karena akses masyarakat dalam penggunaan seluler tinggi dan medium ini digunakan oleh lintas kelompok pendapatan, baik di desa maupun di kota. Pemanfaatan teknologi seluler untuk upaya sosial dirasa belum dieksplorasi dengan maksimum di Indonesia dimana pelaku industri tetap memperlakukan pengguna seluler berpenghasilan rendah sebagai konsumen, dan bukan produsen konten yang dapat diaktifkan untuk menghasilkan pengetahuan dalam ekonomi informasi. Sementara peneliti dan wartawan yang mengikuti industri seluler cenderung lebih fokus pada pertumbuhan penggunaannya oleh masyarakat Indonesia dan bukan menggali kemungkinan ponsel dalam menyelesaikan masalah kepentingan publik.</p>
                    <p>Dibandingkan medium lain seperti video, radio, dan web, penggunaan seluler untuk perubahan sosial dirasa lambat dikembangkan karena membutuhkan upaya ekstra dari pelaku perubahan sosial dalam mengorganisir penerima manfaatnya.</p>
                    <p>Heidi Arbuckle sebagai kepala bidang media dari Ford Foundation Indonesia berharap bahwa hibah ini dapat merangsang dan mengajak masyarakat untuk ikut peduli tentang hak dan tanggung jawab mereka sebagai pengguna teknologi seluler dan pelaku media. Karena benang merah yang sama dari persoalan-persoalan mendasar di dunia adalah pergulatan dalam menciptakan kehidupan sosial yang lebih adil untuk semua.</p>
                    <p>Hibah senilai USD 750.000 (senilai 9 milyar rupiah dengan nilai tukar sekarang) akan  mulai diturunkan untuk penerima hibah terpilih pada bulan Agustus 2014 secara bertahap.</p>
                    <p>Seleksi akan dilakukan oleh Tim Seleksi Awal dan publik untuk memilih kandidat penerima hibah terbaik yang kemudian akan diteruskan pada Tim Seleksi Akhir untuk dikaji ulang. Publik sebagai penerima manfaat dapat ikut mendukung mengisi jajak pendapat kebutuhan secara daring (online), memberikan dukungan via SMS dan penyebaran via media sosial.</p>
                    <p>Penentuan penerima hibah akan dilakukan oleh Tim Seleksi Akhir yang terdiri dari tim independen dengan berbagai latar belakang keahlian yang akan melakukan wawancara dengan calon penerima hibah.</p>
                    <p>Publik yang memiliki pertanyaan mengenai hibah dapat bertanya via SMS 0877-8880-2262, sementara formulir permintaan hibah Cipta Media Seluler dapat diisi daring (online) di ciptamedia.org. Penerimaan permintaan hibah ditutup pada 20 April 2014, sementara pengumuman penerima hibah akan dilakukan pada 20 Juni 2014.</p>

            	</div>
            	<div id="form" class="tab-pane fade">
            	    <br/>
                    <h2>Formulir Aplikasi Hibah Cipta Media Seluler</h2>
                    <p>Cipta Media Seluler adalah hibah terbuka yang mengajak individu atau organisasi memunculkan inisiatif-inisiatif perubahan sosial yang lebih adil dengan menggunakan teknologi seluler. Hibah ini menyediakan dukungan sebesar 750 ribu dolar AS bagi inisiatif-inisiatif terbaik yang dapat dimodifikasi dan direplikasi untuk daerah lain dengan menggunakan teknologi seluler untuk perubahan sosial yang lebih adil.</p>
                    
<h4>Identitas</h4>
                    <table width="100%" border="0">
                      <tbody>
                        <tr>
                          <td colspan="2">Data pribadi Anda hanya akan digunakan oleh panitia untuk keperluan internal Cipta Media Seluler dan untuk menghubungi Anda apabila permohonan hibah Anda diterima. Kami menghargai privasi Anda dan data ini tidak akan dipublikasikan ataupun dibagi kepada pihak lain. Harap memasukkan data yang akurat.</td>
                          </tr>
                        <tr>
                          <td>1. Nama Lengkap * <br><small>Silakan mencantumkan nama Anda sesuai yang tertera di kartu identitas diri.</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>2. Alamat Lengkap * <br>
                          <small>Silakan mencantumkan alamat lengkap Anda sesuai yang tertera di kartu identitas diri.</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>3. Nomor KTP / SIM / Paspor * <br><small>Silakan mencantumkan nomor kartu identitas yang masih berlaku.</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>4. Tempat Lahir *</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>5. Tanggal Lahir *</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>6. Jenis kelamin *</td>
                          <td>
                          <ul style="list-style: none;">
                          <li><input type="radio" name="radio" id="radio" value="radio">
                          <label for="radio">Pria </label></li>
                          <li><input type="radio" name="radio" id="radio" value="radio">
                          <label for="radio">Wanita </label></li>
                          <li><input type="radio" name="radio" id="radio" value="radio">
                          <label for="radio">Yang lain: </label><input type="text" size="32"></li>
                          </ul>
                          </td>
                        </tr>
                        <tr>
                          <td>7. Nomor Telepon * <br><small>Silakan mencantumkan nomor telepon rumah maupun kantor Anda. Mohon masukkan angka saja, tanpa tanda + atau -. Contoh format: 0216554433.</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>8. Nomor HP * <br><small>Silakan mencantumkan nomor telepon genggam Anda. Mohon masukkan angka saja, tanpa tanda + atau -. Contoh format: 0818998877.</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>9. Alamat surel (email) * <br><small>Upaya menjangkau anda oleh panitia Cipta Media Seluler akan dikirimkan melalui surel. Pastikan Anda mencantumkan alamat surel yang AKTIF.</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>10. Situs Web/ blog <br><small>Apabila ada, mohon mencantumkan situs web pribadi atau blog Anda.</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>11. Facebook <br><small>Apabila ada, mohon mencantumkan akun Facebook Anda. Contoh format: facebook.com/ciptamedia</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>12. Twitter <br><small>Apabila ada, mohon mencantumkan akun Twitter Anda. Contoh format: @ciptamedia</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>13. Bidang apa yang Anda tekuni saat ini? * <br><small>Silakan mencantumkan bidang keahlian Anda. Contoh: produksi konten, media komunitas, pengembangan piranti lunak, pengembangan piranti keras, atau pekerjaan anda saat ini yang terkait, dst</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>14. Sudah berapa lama Anda bekerja di bidang tersebut? * <br><small>Contoh: 4 tahun / 2 tahun / 5 bulan.</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>15. Aktivitas atau inisiatif yang telah dan/atau sedang dilakukan <br><small>Apabila ada, mohon jelaskan aktivitas yang Anda jalani ataupun inisiatif yang Anda prakarsai baik yang berhubungan dengan bidang seluler dan perubahan sosial maupun bidang lainnya.</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>16. Penghargaan yang pernah diperoleh <br><small>Apabila ada, mohon cantumkan penghargaan pribadi yang pernah Anda peroleh yang sekiranya relevan.</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                      </tbody>
                    </table>
                    <h4>Intitusi Terkait</h4>
                    <table width="100%" border="0">
                      <tbody>
                      	<tr>
                          <td>17. Apakah hibah yang Anda minta terkait institusi, organisasi, perusahaan atau komunitas tertentu?</td>
                          <td><input type="radio" name="radio" id="radio" value="radio">
                          <label for="radio">Ya </label>
                          <input type="radio" name="radio" id="radio" value="radio">
                          <label for="radio">Tidak </label></td>
                        </tr>
                      </tbody>
                    </table>
<h4>Identitas Organisasi</h4>
                    <table width="100%" border="0">
                      <tbody>
                        <tr>
                          <td>Nama legal organisasi * <br><small>Apabila institusi terkait merupakan badan yang disahkan secara hukum di Indonesia, mohon cantumkan nama legal institusi tersebut. Apabila hanya komunitas, mohon cantumkan nama komunitas tersebut.</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Misi organisasi * <br><small>Secara singkat, jelaskan misi apa yang ingin dicapai oleh institusi terkait</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Status organisasi <br><small>Silakan mencantumkan status organisasi Anda secara legal (apabila ada: perkumpulan atau yayasan), atau lainnya seperti komunitas.</small></td>
                          <td>
                          <ul style="list-style: none;">
                          <li><input type="radio" name="radio" id="radio" value="radio">
                          <label for="radio">Perkumpulan</label></li>
                          <li><input type="radio" name="radio" id="radio" value="radio">
                          <label for="radio">Yayasan</label></li>
                          <li><input type="radio" name="radio" id="radio" value="radio">
                          <label for="radio">Komunitas</label></li>
                          <li><input type="radio" name="radio" id="radio" value="radio">
                          <label for="radio">Yang lain:</label><input type="text" size="32"></li>
                          </ul>
                          </td>
                        </tr>
                        <tr>
                          <td>Tahun berdiri organisasi *</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Jabatan Anda di organisasi * <br><small>Silakan cantumkan jabatan yang saat ini Anda pegang di organisasi terkait</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Jumlah anggota organisasi * <br><small>Silakan mencantumkan jumlah anggota yang tercatat di organisasi terkait.</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Situs web organisasi <br><small>Apabila ada, mohon mencantumkan situs web organisasi terkait.</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Facebook<br><small>Apabila ada, mohon mencantumkan akun Facebook dari organisasi terkait. Contoh format: facebook.com/ciptamedia</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Jumlah penyuka Facebook<br><small>Apabila Anda telah mencantumkan akun Facebook organisasi, mohon cantumkan jumlah penyuka (like) akun tersebut.</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Twitter<br><small>Apabila ada, mohon mencantumkan akun Twitter dari organisasi terkait. Contoh format: @ciptamedia</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Jumlah pengikut Twitter<br><small>Apabila Anda telah mencantumkan akun Twitter organisasi, mohon cantumkan jumlah pengikut (follower) akun tersebut.</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Pengalaman organisasi * <br><small>Secara singkat, jelaskan pencapaian apa saja yang telah berhasil diraih oleh organisasi terkait.</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>Penghargaan yang pernah diperoleh<br><small>Apabila ada, mohon cantumkan penghargaan yang pernah diperoleh organisasi terkait.</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                      </tbody>
                    </table>
                    <h4>Anggota Tim</h4>
                    <table width="100%" border="0">
                      <tbody>
                        <tr>
                          <td colspan="2">Apabila ada, mohon cantumkan anggota tim yang akan terlibat dalam proyek Anda.</td>
                          </tr>
                        <tr>
                          <td>18. Anggota Tim 1</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>19. Peran / Jabatan Anggota Tim 1</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>20. Anggota Tim 2</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>21. Peran / Jabatan Anggota Tim 2</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>22. Anggota Tim 3</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                        <tr>
                          <td>23. Peran / Jabatan Angggota Tim 3</td>
                          <td><input type="text" size="32"></td>
                        </tr>
                      </tbody>
                    </table>
                    <h4>Kategori Hibah</h4>
                    <table width="100%" border="0">
                      <tbody>
                        <tr>
                          <td colspan="2"><p>Cipta Media Seluler memiliki tiga kategori hibah, yaitu Produksi dan Penyampaian Konten, Rekayasa Piranti Lunak, dan Rekayasa Perangkat Keras.</p>

							<p>PRODUKSI DAN PENYAMPAIAN KONTEN</p>
							<p>Pembiayaan hibah untuk kategori ini meliputi kegiatan produksi dan penyampaian konten multimedia (teks, video, games, ringtone, audio, animasi) yang dapat diakses perangkat seluler. Konten yang diutamakan adalah yang bermuatan lokal dan mengusung kebhinekaan (keberagaman) untuk perubahan sosial yang lebih adil.</p>

                            <p>REKAYASA PIRANTI LUNAK</p>
                            <p>Pembiayaan hibah untuk kategori ini meliputi kegiatan penciptaan, optimalisasi dan modifikasi piranti lunak atau platform baru maupun yang sudah ada yang dapat digunakan dengan perangkat seluler.</p>
                            
                            <p>REKAYASA PERANGKAT KERAS</p>
                            <p>Pembiayaan hibah untuk kategori ini meliputi kegiataan penciptaan dan modifikasi perangkat keras dalam memanfaatkan teknologi seluler seperti jaringan wi-fi, bluetooth, peer to peer, dan seluler. Termasuk didalamnya penambahan perangkat ekstra agar perangkat sebelumnya berfungsi spesifik untuk masyarakat dengan kebutuhan khusus dalam berkomunikasi.</p></td>
                          </tr>
                        <tr>
                          <td>24. Termasuk dalam kategori apa permohonan hibah yang Anda ajukan?</td>
                          <td><ul style="list-style: none;">
                          <li><input type="radio" name="radio" id="radio" value="radio">
                          <label for="radio">Produksi dan Penyampaian Konten</label></li>
                          <li><input type="radio" name="radio" id="radio" value="radio">
                          <label for="radio">Rekayasa Piranti Lunak</label></li>
                          <li><input type="radio" name="radio" id="radio" value="radio">
                          <label for="radio">Rekayasa Perangkat Keras</label></li>
                          </ul></td>
                        </tr>
                      </tbody>
                    </table>
                    
                    <div class="row m-b-lg">
                    	<div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#konten">Produksi dan Penyampaian Konten</a></li>
                                <li><a data-toggle="tab" href="#lunak">Rekayasa Piranti Lunak</a></li>
                                <li><a data-toggle="tab" href="#keras">Rekayasa Perangkat Keras</a></li>
                            </ul>
                            <div class="tab-content">
            					<div id="konten" class="tab-pane fade in active">
                                    <h4>Produksi dan Penyampaian Konten</h4>
                                    <table width="100%" border="0">
                                      <tbody>
                                        <tr>
                                          <td>25. Judul proyek atau ide * <br><small>Silakan mencantumkan judul proyek Anda.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>26. Deskripsi proyek * <br><small>Jelaskan proyek Anda secara singkat.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>27. Apakah inisiatif ini baru atau sudah pernah dijalankan sebelumnya? *</td>
                                          <td><ul style="list-style: none;">
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">Inisiatif baru</label></li>
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">Sudah pernah dilakukan</label></li>
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">Yang lain:</label><input type="text" size="32"></li>
                                             </ul></td>
                                        </tr>
                                        <tr>
                                          <td>28. Penjelasan inisiatif sebelumnya<br><small>Apabila proyek ini sudah dijalankan sebelumnya, berikan penjelasan singkat mengenai inisiatif tersebut (keberhasilan maupun tantangan).</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>29. Definisi masalah *<br><small>Jelaskan masalah yang ingin Anda atasi secara singkat. Gunakan kata yang singkat, lugas, dan jelas. Untuk mudahnya, Anda dapat mengisi tujuan dari proyek Anda di sini.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>30. Bagaimana Anda akan mengatasinya? *<br><small>Jelaskan bagaimana Anda akan mengatasi masalah tersebut. Gunakan kata yang singkat, lugas, dan jelas. Anda dapat memberi contoh aktifitas yang ingin Anda lakukan di sini.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>31. Berapa lama aktivitas ini akan dilangsungkan? *<br><small>Jelaskan berapa lama proyek Anda akan berlangsung. Contoh: September 2014-Februari 2015 [enam bulan]. CATATAN: Pembiayaan hanya diberikan untuk aktivitas dengan durasi MAKSIMAL 1 (satu) tahun.</small></td>
                                          <td><input type="text" size="32"></td>
                                        </tr>
                                        <tr>
                                          <td>32. Bagaimana Anda mengukur keberhasilan upaya Anda? *<br><small>Jelaskan tolak ukur keberhasilan Anda, secara singkat dan spesifik. Contoh: Pengguna meningkat sejumlah minimal 1,000 per bulan.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>33. Apabila ada, sebutkan komunitas lain pendukung inisiatif Anda.</td>
                                          <td><input type="text" size="32"></td>
                                        </tr>
                                        <tr>
                                          <td>34. Tipe konten seperti apa yang akan diciptakan, ditukar ataupun disebarkan melalui upaya Anda? *<br><small>Jelaskan secara singkat dan spesifik. Contoh: teks informasi cuaca, video edukatif, peta lokasi bencana, dan sebagainya.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>35. Siapa yang akan diuntungkan dari upaya yang Anda lakukan (target pengguna / penerima manfaat) dan di mana lokasi mereka? *<br><small>Jelaskan secara spesifik. Contoh: Mahasiswa 19-23 tahun di 5 Universitas di Jabodetabek.</small></td>
                                          <td><input type="text" size="32"></td>
                                        </tr>
                                        <tr>
                                          <td>36. Bagaimana strategi distribusi Anda dalam menyebarkan konten? *<br><small>Jelaskan secara singkat dan spesifik</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>37. Berapa kuantitas output konten yang akan diciptakan atau disebarkan? *<br><small>Contoh: Apabila ide Anda adalah mengelola SMS app, jelaskan berapa banyak yang terkirim atau diterima per harinya. Apabila ide Anda adalah konten dalam bentuk video, jelaskan berapa banyak video yang akan diciptakan dan dengan durasi berapa menit.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>38. Apabila relevan, apakah Anda bersedia bekerja sama dengan salah satu atau beberapa penyedia jasa sambungan seluler untuk upaya Anda? *</td>
                                          <td><ul style="list-style: none;">
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">Ya</label></li>
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">Tidak</label></li>
                                             </ul></td>
                                        </tr>
                                        <tr>
                                          <td>39. Apabila Anda menjawab TIDAK, berikan penjelasan singkat mengapa.</td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>40. Lisensi *<br><small>Silakan pilih lisensi apa yang akan Anda gunakan untuk hasil konten yang dibiayai dari hibah.</small></td>
                                          <td><ul style="list-style: none;">
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">CC-BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0/deed.en_US)</label></li>
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">Hak Cipta Penuh (Diskusikan dengan panitia kemudian)</label></li>
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">Yang lain:</label><input type="text" size="32"></li>
                                             </ul></td>
                                        </tr>
                                      </tbody>
                                    </table>	
                                </div>
                                <div id="lunak" class="tab-pane fade">
                                	<h4>Rekayasa Piranti Lunak</h4>
                                    <table width="100%" border="0">
                                      <tbody>
                                        <tr>
                                          <td>25. Judul proyek atau ide * <br><small>Silakan mencantumkan judul proyek Anda.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>26. Deskripsi proyek * <br><small>Jelaskan proyek Anda secara singkat.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>27. Apakah inisiatif ini baru atau sudah pernah dijalankan sebelumnya? *</td>
                                          <td><ul style="list-style: none;">
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">Inisiatif baru</label></li>
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">Sudah pernah dilakukan</label></li>
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">Yang lain:</label><input type="text" size="32"></li>
                                             </ul></td>
                                        </tr>
                                        <tr>
                                          <td>28. Penjelasan inisiatif sebelumnya<br><small>Apabila proyek ini sudah dijalankan sebelumnya, berikan penjelasan singkat mengenai inisiatif tersebut (keberhasilan maupun tantangan).</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>29. Definisi masalah *<br><small>Jelaskan masalah yang ingin Anda atasi secara singkat. Gunakan kata yang singkat, lugas, dan jelas. Untuk mudahnya, Anda dapat mengisi tujuan dari proyek Anda di sini.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>30. Bagaimana Anda akan mengatasinya? *<br><small>Jelaskan bagaimana Anda akan mengatasi masalah tersebut. Gunakan kata yang singkat, lugas, dan jelas. Anda dapat memberi contoh aktifitas yang ingin Anda lakukan di sini.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>31. Berapa lama aktivitas ini akan dilangsungkan? *<br><small>Jelaskan berapa lama proyek Anda akan berlangsung. Contoh: September 2014-Februari 2015 [enam bulan]. CATATAN: Pembiayaan hanya diberikan untuk aktivitas dengan durasi MAKSIMAL 1 (satu) tahun.</small></td>
                                          <td><input type="text" size="32"></td>
                                        </tr>
                                        <tr>
                                          <td>32. Bagaimana Anda mengukur keberhasilan upaya Anda? *<br><small>Jelaskan tolak ukur keberhasilan Anda, secara singkat dan spesifik. Contoh: Pengguna meningkat sejumlah minimal 1,000 per bulan.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>33. Apabila ada, sebutkan komunitas lain pendukung inisiatif Anda.</td>
                                          <td><input type="text" size="32"></td>
                                        </tr>
                                        <tr>
                                          <td>34. Tipe aplikasi atau piranti lunak seperti apa yang akan diciptakan atau dimodifikasi melalui upaya Anda? *<br><small>Jelaskan secara singkat.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>35. Mengapa aplikasi atau piranti lunak yang Anda jelaskan sebelumnya penting untuk diciptakan atau dimodifikasi? *<br><small>Jelaskan secara singkat.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>36. Bagaimana strategi Anda dalam mempromosikan aplikasi atau piranti lunak tersebut? *<br><small>Jelaskan secara singkat.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>37. Siapa yang akan diuntungkan dari upaya yang Anda lakukan (target pengguna / penerima manfaat) dan di mana lokasi mereka? *<br><small>Jelaskan secara spesifik dan singkat. Contoh: Mahasiswa 19-23 tahun di 5 Universitas di Jabodetabek.</small></td>
                                          <td><input type="text" size="32"></td>
                                        </tr>
                                        <tr>
                                          <td>38. Bagaimana Anda membuat aplikasi atau piranti lunak tersebut bisa digunakan secara optimal oleh target pengguna yang Anda sasar? *<br><small>Jelaskan secara singkat.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>39. Apabila relevan, apakah Anda bersedia bekerja sama dengan salah satu atau beberapa penyedia jasa appstore untuk upaya Anda? *</td>
                                          <td><ul style="list-style: none;">
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">Ya</label></li>
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">Tidak</label></li>
                                             </ul></td>
                                        </tr>
                                        <tr>
                                          <td>40. Apabila Anda menjawab TIDAK, berikan penjelasan singkat mengapa.<br><small>Silakan pilih lisensi apa yang akan Anda gunakan untuk hasil konten yang dibiayai dari hibah.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>41. Lisensi *<br><small>Silakan pilih lisensi apa yang akan Anda gunakan untuk hasil piranti lunak yang dibiayai dari hibah.</small></td>
                                          <td><ul style="list-style: none;">
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">GNU General Public License (GPL) 3.0 (http://www.gnu.org/licenses/gpl-3.0.html)</label></li>
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">Yang lain:</label><input type="text" size="32"></li>
                                             </ul></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                                <div id="keras" class="tab-pane fade">
                                	<h4>Rekayasa Perangkat Keras</h4>
                                    <table width="100%" border="0">
                                      <tbody>
                                        <tr>
                                          <td>25. Judul proyek atau ide * <br><small>Silakan mencantumkan judul proyek Anda.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>26. Deskripsi proyek * <br><small>Jelaskan proyek Anda secara singkat.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>27. Apakah inisiatif ini baru atau sudah pernah dijalankan sebelumnya? *</td>
                                          <td><ul style="list-style: none;">
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">Inisiatif baru</label></li>
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">Sudah pernah dilakukan</label></li>
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">Yang lain:</label><input type="text" size="32"></li>
                                             </ul></td>
                                        </tr>
                                        <tr>
                                          <td>28. Penjelasan inisiatif sebelumnya<br><small>Apabila proyek ini sudah dijalankan sebelumnya, berikan penjelasan singkat mengenai inisiatif tersebut (keberhasilan maupun tantangan).</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>29. Definisi masalah *<br><small>Jelaskan masalah yang ingin Anda atasi secara singkat. Gunakan kata yang singkat, lugas, dan jelas. Untuk mudahnya, Anda dapat mengisi tujuan dari proyek Anda di sini.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>30. Bagaimana Anda akan mengatasinya? *<br><small>Jelaskan bagaimana Anda akan mengatasi masalah tersebut. Gunakan kata yang singkat, lugas, dan jelas. Anda dapat memberi contoh aktifitas yang ingin Anda lakukan di sini.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>31. Berapa lama aktivitas ini akan dilangsungkan? *<br><small>Jelaskan berapa lama proyek Anda akan berlangsung. Contoh: September 2014-Februari 2015 [enam bulan]. CATATAN: Pembiayaan hanya diberikan untuk aktivitas dengan durasi MAKSIMAL 1 (satu) tahun.</small></td>
                                          <td><input type="text" size="32"></td>
                                        </tr>
                                        <tr>
                                          <td>32. Bagaimana Anda mengukur keberhasilan upaya Anda? *<br><small>Jelaskan tolak ukur keberhasilan Anda, secara singkat dan spesifik. Contoh: Pengguna meningkat sejumlah minimal 1,000 per bulan.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>33. Apabila ada, sebutkan komunitas lain pendukung inisiatif Anda.</td>
                                          <td><input type="text" size="32"></td>
                                        </tr>
                                        <tr>
                                          <td>34. Tipe perangkat keras seperti apa yang akan diciptakan atau dimodifikasi melalui upaya Anda? *<br><small>Jelaskan secara singkat.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>35. Mengapa perangkat keras tersebut penting untuk diciptakan atau dimodifikasi? *<br><small>Jelaskan secara singkat.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>36. Siapa yang akan diuntungkan dari upaya yang Anda lakukan (target pengguna / penerima manfaat) dan di mana lokasi mereka? *<br><small>Jelaskan secara spesifik dan singkat. Contoh: Mahasiswa 19-23 tahun di 5 Universitas di Jabodetabek.</small></td>
                                          <td><input type="text" size="32"></td>
                                        </tr>
                                        <tr>
                                          <td>37. Bagaimana strategi Anda dalam mempromosikan perangkat keras tersebut kepada target pengguna? *<br><small>Jelaskan secara singkat.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>38. Bagaimana Anda membuat perangkat keras tersebut bisa digunakan secara optimal oleh target pengguna? *<br><small>Jelaskan secara singkat.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>39. Apabila relevan, apakah Anda bersedia bekerja sama dengan salah satu atau beberapa penyedia jasa appstore untuk upaya Anda? *</td>
                                          <td><ul style="list-style: none;">
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">Ya</label></li>
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">Tidak</label></li>
                                             </ul></td>
                                        </tr>
                                        <tr>
                                          <td>40. Apabila Anda menjawab TIDAK, berikan penjelasan singkat mengapa.<br><small>Silakan pilih lisensi apa yang akan Anda gunakan untuk hasil konten yang dibiayai dari hibah.</small></td>
                                          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
                                        </tr>
                                        <tr>
                                          <td>41. Lisensi *<br><small>Silakan pilih lisensi apa yang akan Anda gunakan untuk hasil perangkat keras yang dibiayai dari hibah.</small></td>
                                          <td><ul style="list-style: none;">
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">TAPR Open Hardware License (http://www.tapr.org/OHL)</label></li>
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">CERN Open Hardware Licence (http://www.ohwr.org/licenses/cern-ohl/v1.2)</label></li>
                                              <li><input type="radio" name="radio" id="radio" value="radio">
                                              <label for="radio">Yang lain:</label><input type="text" size="32"></li>
                                             </ul></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                    	</div>
                    </div>
                    <h4>Dana Hibah</h4>
                    <table width="100%" border="0">
                      <tbody>
                        <tr>
                          <td colspan="2">Jumlah dana hibah harus realistis dan secara konsisten menunjukkan biaya atas apa yang ingin dilakukan, berapa jumlah orang yang akan melakukannya, serta mencerminkan rentang waktu (lama) aktivitas.</td>
                          </tr>
                        <tr>
                          <td>42. Jumlah dana (anggaran) yang diminta * <br><small>Silakan mencantumkan, dalam Rupiah, jumlah dana yang diminta untuk proyek Anda.</small></td>
                          <td><input type="text" size="32"></td>
                        </tr>
                      </tbody>
                    </table>
                    <h4>Persetujuan</h4>
                    <table width="100%" border="0">
                      <tbody>
                          <tr>
                          <td colspan="2">Pernyataan Pemohon Hibah *</td>
                          </tr>
                          <tr>
                          <td><input type="checkbox"></td>
                          <td>Saya menyetujui untuk menerima tanggung jawab dalam pelaksanaan proyek dan untuk menyediakan laporan dan informasi yang dibutuhkan apabila saya mendapatkan hibah sebagai hasil dari permohonan ini. Saya menerima seluruh persyaratan dan kondisi yang berlaku, termasuk kesediaan waktu dan kepatutan saya sebagai subyek hukum, dan kebijakan privasi. Saya menyatakan untuk melepaskan seluruh informasi dan kekayaan intelektual yang saya tuliskan di formulir ini dalam lisensi CC-BY-SA 3.0 (Creative Commons).</td>
                        </tr>
                      </tbody>
                    </table>
                    <h4>Logo Proyek</h4>
                    <table width="100%" border="0">
                      <tbody>
                          <tr>
                          <td colspan="2">Kami membutuhkan GAMBAR atau LOGO proyek yang Anda ajukan untuk ditampilkan di situs Cipta Media Seluler.<br>
<br>
							Berkas gambar yang diperbolehkan untuk diunggah adalah berkas dengan ekstensi .jpg, .jpeg, .png, dan .gif, dan dengan ukuran dibawah 1MB. Resolusi gambar yang diperbolehkan adalah 500 x 500 pixel.<br>
<br>
							UNTUK MENGUNGGAH GAMBAR TERSEBUT, SILAKAN BUKA HALAMAN BERIKUT: 
http://www.ciptamedia.org/gambar/</td>
                         </tr>
                        <tr>
                          <td colspan="2">Lisensi Gambar / Logo Proyek *</td>
                        </tr>
                        <tr>
                          <td><input type="checkbox"></td>
                          <td>Saya menyatakan untuk melepaskan gambar maupun logo proyek yang saya unggah dalam lisensi CC-BY-SA 3.0 (Creative Commons).</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
	    </div>
            
        </div>
    </div>

</div>
